{% extends 'loginbase.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">BIENVENIDO</h1>
                  </div>
                  {% if error %}
                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}

                  {% if app.user %}
                      <div class="mb-3 text-center">
                          Estas logueado como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Salir</a>
                      </div>
                  {% endif %}
                  <form class="user" method="post">
                    <div class="form-group">                      
                      <input value="{{ last_username }}" name="username" id="inputUsername" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="inputPassword" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña">
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    </div>
                    
                    <button class="btn btn-primary btn-user btn-block" type="submit">
                        Entrar
                    </button>
                                      
                  </form>
                  <hr>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}
